<template>
  <header class="header">
  <div class="header-title">
    <div class="logo">
      <img src="../../assets/images/logo.svg" />
    </div>
    <div class="menu">
      <a>About</a>
      <a>Service</a>
      <a>Projects</a>
      <a>CONTACT</a>
    </div>
    <div class="hamburger-menus">
      <img src="../../assets/images/icon-hamburger.svg">
    </div>
  </div>
    <div class="header-content">
      <h3>WE ARE CREATIVES</h3>
      <img src="../../assets/images/icon-arrow-down.svg" />
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped lang="scss">
@import "src/assets/css/mixin/grid";

.header{
  height: 761px;
  padding: 39px 44px 0px;
  background: url("../../assets/images/desktop/image-header.jpg");
  background-size: 100% 100%;
  color: white;
  @include min-phone() {
    height: 538px;
    background: url("../../assets/images/mobile/image-header.jpg");
    background-size: 100% 100%;
    padding: 39px 20px 0px;
  }
}
.header-title{
  height: 56px;
  display: flex;
  .logo{
    width: 50%;
  }
  .menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    @include min-phone() {
      display:none
    }
    a{
      margin-left: 50px;
    }
  }
  .hamburger-menus{
    width: 50%;
    display: none;
    justify-content: flex-end;
    @include min-phone () {
      display: flex;
    }
    img{
      width: 24px;
      height: 18px;
    }
  }
}

.header-content{
  font-weight: bolder;
  margin-top: 100px;
  text-align:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-size: 69px;
    @include min-phone () {
      margin-top: 0px;
      font-size: 37px
    }
  }
  img{
    margin-top: 90px;
    @include min-phone () {
      width: 34px;
      margin-top: 10px;
    }
  }
}

</style>
