<template>
  <div class="home">
    <div class="content-1" v-for="(item , index) in content1Items" :key='index'>
      <introduce :class='"sorting-" +  index' :title='item.title' :content='item.content'></introduce>
      <img :src='item.img'  />
    </div>
    <div class="content-2">
      <Narrate :item='content2Items'></Narrate>
    </div>
  </div>
</template>

<script>
import introduce from "../components/Introduce";
import Narrate from "../components/Narrate";
export default {
  name: "index",
  components: { introduce , Narrate },
  setup() {
    const getImg =  path => require(`../assets/images/desktop/${path}.jpg`)
    const content1Items = [
      {
        title: 'Transform your brand',
        content: `We are a full-service creative agency specializing in helping brands grow fast. Engage your clients through compelling visuals that do most of the marketing for you.`,
        img: getImg('image-transform')
      },
      {
        title: 'Stand out to the right audience',
        content: `Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we'll build and extend your brand in digital places`,
        img: getImg('image-stand-out')
      }
    ]

    const content2Items = [
      {
        img: getImg('image-graphic-design'),
        title: `Graphic Design`,
        content: `Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients' attention.`
      },
      {
        img: getImg('image-photography'),
        title: `Photography`,
        content: `Increase your credibility by getting the most stunning, high-quality photos that improve your business image.`
      }
    ]

    return{
      content1Items,
      content2Items,
      getImg,
    }
  }
}
</script>

<style scoped lang="scss">
@import "../assets/css/mixin/grid";

.home{
  .content-1{
    display: flex;
    @include min-phone() {
      flex-direction: column;
    }
    .introduce{
      width: 50%;
      @include min-phone() {
        width: 100%;
      }
    }
    img{
      width: 50%;
      @include min-phone() {
        width: 100%;
      }
    }
  }
  .content-2{
    display: flex;
  }
}

.sorting-0 {
  order: 0;
  align-self: auto;
  @include min-phone() {
    order: 1;
  }
}

.sorting-1 {
  order: 1;
  align-self: auto;
}
</style>
