<template>
  <div class="introduce">
    <div class="introduce-items">
      <div class="title">{{ title }}</div>
      <div class="content">{{ content }}</div>
      <div class="more">LEARN MORE</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Introduce",
  props: ['title' , 'content'],
}
</script>

<style scoped lang="scss">
@import "../assets/css/mixin/grid";

.introduce{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include min-phone() {
    height: 437px;
  }
  .introduce-items{
    max-width: 445px;
    height: 285px;
    @include min-phone() {
      max-width: 300px;
      width: 327px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .title{
      font-size: 50px;
      color: #24303e;
      font-weight: bolder;
      @include min-phone() {
        font-size: 30px;
      }

    }
    .content{
      font-size: 20px;
      color: #808397;
      margin: 37px 0px 52px;
      @include min-phone() {
        font-size: 15px;
      }
    }
    .more{
      font-size: 21px;
      color: #24303e;
      font-weight: bolder;
      @include min-phone() {
        font-size: 15px;
      }
    }
  }
}

</style>
