<template>
  <div class="narrate">
    <div class="items" v-for="(val, index) in item" :key="index"  :style="'background: url('+val.img+'); background-size: 100% 100%;'">
      <div class="text" :class="'color-' + index" >
        <h3 class="title">{{ val.title }}</h3>
        <p class="content">{{ val.content }}</p>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "Narrate",
  props: [ 'item' ]
}
</script>

<style scoped lang="scss">
@import "../assets/css/mixin/grid";
.narrate{
 display: flex;
  flex-direction: row;
  max-width: 1352px;
  @include min-phone() {
    max-width: 335px;
    flex-direction: column;
  }
}
.items{
  width: 50%;
  height: 600px;
  @include min-phone() {
    width: 100%
  }
}

.text{
  max-width: 339px;
  width: 339px;
  margin: 400px 200px 0px;
  @include min-phone() {
    max-width: 300px;
    margin: 400px 25px 0px;
  }
  .title{
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-weight:bold;
    margin-bottom: 20px;
  }
  .content{
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}

.color-0{
  color: #24554a;
}
.color-1{
  color: #205269;
}
</style>
