<template>
  <core-header></core-header>
  <Home></Home>
</template>

<script>
import coreHeader from "./components/core/Header";
import Home from './view/Home'
export default {
  name: 'App',
  components: {
    coreHeader,
    Home
  }
}
</script>

<style scoped lang="scss">

</style>
